html,
body {
  background-color: #ffeead; /*  #ffeead */ /*#f8f0cf */
  font-family: "Alegreya", serif;
  color: #ffeead;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas:
    "h h h h"
    "i i i i"
    "t t t t"
    "b b b b"
    "z b b p"
    "p b b z"
    "z b b p"
    "p b b z"
    "s s s s"
    "s s s s"
    "s s s s"
    "f f f f";
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.header {
  grid-column: 1/-1;
}

.image {
  grid-column: 1/-1;
}

.description {
  grid-column: 1/-1;
}

.container > div.title {
  grid-column: 1/-1;
  font-size: 3.5rem;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

.container > div.content {
  color: #ffeead;
  grid-column: 2/4;
  border-radius: 4%;
  padding: 1vw;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: justify;
}

.quotes {
  grid-column: 1/-1;
}

.sources {
  grid-column: 1/-1;
}
.footer {
  grid-column: 1/-1;
}

.container > div.header {
  font-size: 4.5rem;
  font-weight: 600;
}

.container > div.description {
  font-size: 2.25rem;
  font-weight: 400;
}

.container > div.empty {
  font-size: 2.25rem;
  font-weight: 400;
  text-align: justify;
}

.container > div.heading {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.container > div.quotes {
  font-size: 3.5rem;
  font-weight: 500;
}

.container > div.sources {
  font-size: 3.5rem;
  font-weight: 500;
}

.container > div.footer {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
}

a:link {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:visited {
  color: teal;
}

.container > div:nth-child(1n) {
  background-color: #88d8b0;

  color: #963f3c;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
  color: #ffeead;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
  color: teal;
}

.container > div.pic {
  display: flex;
  flex-direction: column;
  font-size: 2.25vw;
  justify-content: center;
}

.container > div.pic > .responsive {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

